* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Inconsolata', monospace;
	height: 100vh;
	justify-content: center;
	flex-direction: column;
}
.container {
	height: 90vh;
	width: 93%;
	margin: 15px;
	padding: 15px;
	background: linear-gradient(steelblue, navy);
	color: burlywood;
}
.project-name {
	width: 80%;
}
h1 {
	font-size: 24px;
}
input {
	height: 25px;
	width: 80%;
	border-radius: 5px;
}
.detail.section {
	margin: 10 0 10 5;
	justify-content: space-between;
}
.api-attributions {
	margin: 100px;
	padding: 100px;
	display: inline-flex;
}

a {
	color: blanchedalmond;
	margin: 5px;
	padding: 5px;
}
